img {
  width: 200px;
  height: 200px;
}

.movieItem {
  display: flex;
  border: 1px dashed grey;
  padding: 10px;
  margin: 0px 20px 20px;

  background-color: whitesmoke;
}

h3 {
  margin-left: 10px;
}

.overviewItem {
  margin-left: 10px;
}
h4{
  margin-left: 5px;
}
.movieGenre {
  display: flex;
  margin: 10px ;

}
.rating{
  display: flex;
  align-items: center;
  margin-left: 5px;
}
