
:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

.card-title{
  font-size: 30px;
}

.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  display: flex;

}


.card-text{
  height: fit-content;
}

body {
  background: #111 !important;
  height: 300px;
}
.card{
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0;
  margin: 0;
}


