button {
  cursor: pointer;
  background-color: #404040;
  color: white;
  margin: 8px 6px;
  border-radius: 5px;
  padding: 5px;
}

.genresComponent {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;

}
