.header {
  display: flex;
  height: 50px;
  margin-bottom: 20px;
  align-items: center;
  color: lightgrey;
  justify-content: space-between;
}

input {
  cursor: pointer;
}

h4 {
  cursor: pointer;
  margin-left: 20px;
}

.form-check {
  margin-right: 20px;
}
hr{
  background-color: white;
}

